body{
    background-color: white !important;
    overflow: auto;
    overflow-x: hidden
  }
  
  .container {
    /* position: relative; */
    /* text-align: center; */
    color: white;
  }
  
  /* .get{
     left: 25% !important;
  } */
  .centered {
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .background{
    /* The image used */
    background-image: url("./images/lil");
  
    min-height: 33rem;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
  }
  
  
  .img1{
      /* position: absolute; */
      /* left: -8%; */
      width: 100% !important;
      height: 32rem;
  }
  ul{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .blackb{
    text-align: center;
    padding: 2%; 
    background-color: black;
     color: white;
     font-size: 1rem;
     height: 7rem;
  }
  #trial{
    background-color:white; 
    color:black;
    padding: 25px;
    border-radius: 4%;
  }
  
  #back{
    margin-top:10rem;
  }
  @media only screen and (max-width: 600px) {
    #back
     {    margin-top: 1rem;
    }
    }
  
  /*-------Brands-------------*/
  
  /* .brandpic{
    height: 5.3 em;
    width: 2rem;
    padding: 10px;
    /* background-color: black */
  /* } */
  
  /* 
  .billion {
    position: relative;
    max-width: 70rem;
    max-height: 20rem;
    margin: 0 auto;
    /* text-align: center; */
    /* color: #f1f1f1 !important;
  } */
  
  /* .billion img {vertical-align: middle;} */
  
  /* .billion .content {
    position: absolute;
    bottom: 0;
    /* background: rgb(0, 0, 0); Fallback color */
    /* background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity */
    /* color: #f1f1f1; */
    /* color: rgb(238, 235, 235);
    width: 100%;
    padding: 50px; */
    /* padding-left: 300px; */
  /* }   */ 
  
  
  
  .textt{
    position: absolute;
  color: rgb(251, 249, 252);
  font-weight: bold;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 0.3rem;
  border: 4px solid rgb(245, 241, 241)
  }
  @media only screen and (max-width: 600px) {
    .textt
     {    font-size: 0.6rem;
      color: rgb(247, 240, 240);
      padding: 0.1rem;
    }
    }
  
  
  /*-------------------content------------*/
  
  .h4{
    color: rgb(17, 16, 16);
    margin-left: -50px;
  }
  @media only screen and (max-width: 600px) {
    .h4
     {
       font-size: 1.5rem;
       margin-left: 5px;
  
      }
    }
  .my-row{
      margin-left: -90px;
    }
    @media only screen and (max-width: 600px) {
  
      .my-row{
        margin-left: -30px;
      }
  }
  
  
  .conpic{
  cursor: pointer;
  height: 15rem;
  width: 95%;
  border-radius: 2%;
  padding: px;
  }
  .conpic:hover{
  opacity: 0.8;
  }
  .my-card{
    width: 25rem;
    /* background-color: aqua; */
  }
  .card-title, .card-text{
  color: black;
  line-height: 5px;
  margin-left:-15px;
  }
  .card-text{
  color: gray;
  
  }
  /* .body{
    width: 100%
  } */
  /*-------------------valentine-----------*/
  .v-container {
  position: relative;
  text-align: center;
  color: white;
  }
  
  .centeredd {
  position: absolute;
  color: rgb(251, 249, 252);
  font-weight: bold;
  font-size:1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .val{
    /* height: 30rem; */
    width: 100%;
    /* margin-left: -100px;  */
    opacity: 0.95;
  }
  .val:hover,.valentine:hover{
  opacity: 1 !important;
  cursor: pointer;
  }
  .valentine{
  /* margin-right: -80px; */
  width:100%;
  height: 11.7rem;
  margin-bottom:20px;
  opacity: 0.9;
  }
  
  /*-------------------categories------------*/
  
  .cat{
  color: black;
  padding: 12px;
  font-size: 1.5rem;
  }
  .bet{
  font-size: 0.9rem !important;
  color: rgb(117, 115, 115);
  padding: 8px;
  }
  .bet:hover{
  color: black;
  }
  
  
  /*----------Signup------------*/
  /* .card-body{
  height: 5rem;
  width: 25rem;
  }
  
  
  * {
    box-sizing: border-box;
  } */
  
  .bg-img {
    /* The image used */
    background-image: url("./images/fl.jpeg");
  
    min-height: 38rem;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  @media only screen and (max-width: 768px) {
    .bg-img{
      
      min-height: 65rem;
  
    }
  }
  #sign{
    color: white;
    line-height: 1rem;
    /* margin-top: 3rem; */
    padding: 5rem;
  }
  
  /* Add styles to the form container */
  .s-container {
    position: absolute;
    right: 0;
    margin: 50px;
    /* width: 300px; */
    width: 80%;
    padding: 40px;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 5%;
  }
  
  .para{
      font-size: 0.8rem;
  }
  /* Full-width input fields */
  .txt, .pass {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .txt, .pass {
    background-color: #f1f1f1;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btnn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    /* border-radius: 2%; */
  
  }
  
  .btnn:hover {
    opacity: 1;
  }
  
  /*-------------Footer------------------*/
  
  
  
  html, body {
  height: 100%;
  }
  body {
  font: 11px "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  }
  ul {
  list-style: none
  }
  a {
  text-decoration: none
  }
  .generic-anchor {
  color: $primary-light-blue;
  &:visited {
    color: $primary-light-blue
  }
  &:hover {
    color: $primary-line-color
  }
  }
  .flex-rw {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(29, 31, 34);
  
  }
  
  main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
  }
  footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
  }
  .footerline1{
    /* text-align: center; */
    padding-left: 30%;
    padding-top: 4%;
    color: gray;
  font: 1vw "Oswald", sans-serif;
  }
  .footer-list-top {
  width: 20%;
  padding-top: 2%;
  }
  .footer-list-top > li {
  /* text-align: center; */
  padding-bottom: 10px
  }
  .footer-list-header {
  padding: 10px 0 5px 0;
  color: white;
  font: 1.1vw "Oswald", sans-serif;
  font-weight: bolder;
  }
  .footer-list-anchor {
    padding: 10px 0 5px 0;
  font: 1vw "Open Sans", sans-serif;
  color: grey;
  }
  .footer-list-anchor:hover {
    color: white;
    cursor: pointer;
  }
  
  
  .footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
  }
  .footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid $primary-line-color;
  width: calc(100% - 20px)
  }
  .footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
  }
  .footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: white
  }
  .footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
  }
  .footer-social-overlap > a {
  font-size: 3em
  }
  .footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
  }
  .footer-bottom-section {
  width: 100%;
  padding: 30px;
  border-top: 1px solid $primary-line-color;
  margin-top: 10px
  }
  .footer-bottom-section > div:first-child {
  margin-right: auto
  }
  .footer-bottom-wrapper {
  font-size: 1.5em;
  color: white
  }
  .footer-address {
  display: inline;
  font-style: normal;
  font-size: 0.7rem;
  }
  @media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
  }
  @media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
  }
  @media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
  }
  @media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
  }